.accordion.accordion_toggles.accordion_type-1.box-default
	.accordion-item.current_toggle
		.accordion-heading
			.accordion-title  
				span.accordion-title__toggle.bd-radius-8 
					+svg('plus')
				| Как подать заявку?
		.accordion-toggle
			.accordion-toggle__inner
				p How can you cut an onion without crying?
				p
					| The types of information that Wiley collects directly from you or through your use of our websites and services may include the following depending on how you interact with Wiley:
				ul
					li
						| Contact details, such as your name, email address, postal address, username, and telephone number;
					li
						| Internet Protocol (“IP”) addresses used to connect your computer to the Internet;
					li Educational and professional interests;
					li Tracking codes such as cookies;
				p
					| In order to access certain content and to make use of additional functionality and features of Wiley’s websites and services, we may ask you
					| to register for an account by completing and submitting a registration form, which may request additional information.\

	.accordion-item
		.accordion-heading
			.accordion-title  
				span.accordion-title__toggle.bd-radius-8 
					+svg('plus')
				| How can you cut an onion without crying?
		.accordion-toggle
			.accordion-toggle__inner
				p How can you cut an onion without crying?
				p
					| The types of information that Wiley collects directly from you or through your use of our websites and services may include the following depending on how you interact with Wiley:
				ul
					li
						| Contact details, such as your name, email address, postal address, username, and telephone number;
					li
						| Internet Protocol (“IP”) addresses used to connect your computer to the Internet;
					li Educational and professional interests;
					li Tracking codes such as cookies;
				p
					| In order to access certain content and to make use of additional functionality and features of Wiley’s websites and services, we may ask you
					| to register for an account by completing and submitting a registration form, which may request additional information.\

	.accordion-item
		.accordion-heading
			.accordion-title  
				span.accordion-title__toggle.bd-radius-8 
					+svg('plus')
				| Does a map show distances other than miles?
		.accordion-toggle
			.accordion-toggle__inner
				p How can you cut an onion without crying?
				p
					| The types of information that Wiley collects directly from you or through your use of our websites and services may include the following depending on how you interact with Wiley:
				ul
					li
						| Contact details, such as your name, email address, postal address, username, and telephone number;
					li
						| Internet Protocol (“IP”) addresses used to connect your computer to the Internet;
					li Educational and professional interests;
					li Tracking codes such as cookies;
				p
					| In order to access certain content and to make use of additional functionality and features of Wiley’s websites and services, we may ask you
					| to register for an account by completing and submitting a registration form, which may request additional information.\


	.accordion-item
		.accordion-heading
			.accordion-title  
				span.accordion-title__toggle.bd-radius-8 
					+svg('plus')
				| Who would you swap lives with for a day?
		.accordion-toggle
			.accordion-toggle__inner
				p How can you cut an onion without crying?
				p
					| The types of information that Wiley collects directly from you or through your use of our websites and services may include the following depending on how you interact with Wiley:
				ul
					li
						| Contact details, such as your name, email address, postal address, username, and telephone number;
					li
						| Internet Protocol (“IP”) addresses used to connect your computer to the Internet;
					li Educational and professional interests;
					li Tracking codes such as cookies;
				p
					| In order to access certain content and to make use of additional functionality and features of Wiley’s websites and services, we may ask you
					| to register for an account by completing and submitting a registration form, which may request additional information.\


	.accordion-item
		.accordion-heading
			.accordion-title  
				span.accordion-title__toggle.bd-radius-8 
					+svg('plus')
				| What is the Tooth Fairy’s real phone number?
		.accordion-toggle
			.accordion-toggle__inner
				p How can you cut an onion without crying?
				p
					| The types of information that Wiley collects directly from you or through your use of our websites and services may include the following depending on how you interact with Wiley:
				ul
					li
						| Contact details, such as your name, email address, postal address, username, and telephone number;
					li
						| Internet Protocol (“IP”) addresses used to connect your computer to the Internet;
					li Educational and professional interests;
					li Tracking codes such as cookies;
				p
					| In order to access certain content and to make use of additional functionality and features of Wiley’s websites and services, we may ask you
					| to register for an account by completing and submitting a registration form, which may request additional information.\


	.accordion-item
		.accordion-heading
			.accordion-title  
				span.accordion-title__toggle.bd-radius-8 
					+svg('plus')
				| Did Blockbuster refuse to buy Netflix?
		.accordion-toggle
			.accordion-toggle__inner
				p How can you cut an onion without crying?
				p
					| The types of information that Wiley collects directly from you or through your use of our websites and services may include the following depending on how you interact with Wiley:
				ul
					li
						| Contact details, such as your name, email address, postal address, username, and telephone number;
					li
						| Internet Protocol (“IP”) addresses used to connect your computer to the Internet;
					li Educational and professional interests;
					li Tracking codes such as cookies;
				p
					| In order to access certain content and to make use of additional functionality and features of Wiley’s websites and services, we may ask you
					| to register for an account by completing and submitting a registration form, which may request additional information.\


	.accordion-item
		.accordion-heading
			.accordion-title  
				span.accordion-title__toggle.bd-radius-8 
					+svg('plus')
				| Как подать заявку?
		.accordion-toggle
			.accordion-toggle__inner
				p How can you cut an onion without crying?
				p
					| The types of information that Wiley collects directly from you or through your use of our websites and services may include the following depending on how you interact with Wiley:
				ul
					li
						| Contact details, such as your name, email address, postal address, username, and telephone number;
					li
						| Internet Protocol (“IP”) addresses used to connect your computer to the Internet;
					li Educational and professional interests;
					li Tracking codes such as cookies;
				p
					| In order to access certain content and to make use of additional functionality and features of Wiley’s websites and services, we may ask you
					| to register for an account by completing and submitting a registration form, which may request additional information.\
