-
	const data = {
		header: {
			links: {
				logo: 'https://ninelines.agency/',
			},
			menu: [
				{
					url: '#hello',
					name: 'Ну привет'
				},
				{
					url: '#necessarily',
					name: 'Обязательно к прочтению'
				},
				{
					url: '#bye',
					name: 'И пока'
				}
			]
		},

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'tw', 'vk', 'ok'],
		},

		home: {
			title: 'гид&nbsp;по <br><span class="for-desktop">бережному</span><span class="for-devices">общению</span>',
			read: 'Читать',
		},

		modal: {
			close: 'Закрыть',
		},


		otdeli: [
			{
				name: 'Администрация',
				count: '4',
				slide: '1',
			},
			{
				name: 'HR',
				count: '8',
				slide: '2',
			},
			{
				name: 'Отдел IT',
				count: '16',
				slide: '3',
			},
			{
				name: 'Операционный департамент',
				count: '18',
				slide: '2',
			},
			{
				name: 'Водители',
				count: '3',
				slide: '1',
			},
			{
				name: 'Тех.персонал',
				count: '1',
				slide: '3',
			},
			{
				name: 'КЦ',
				count: '2',
				slide: '1',
			},
			{
				name: 'Розетка',
				count: '8',
				slide: '3',
			},
			{
				name: 'Отдел маркетинга',
				count: '6',
				slide: '2',
			},
			{
				name: 'Бухгалтерия',
				count: '17',
				slide: '3',
			},
			{
				name: 'Отдел закупок',
				count: '15',
				slide: '1',
			},
			{
				name: 'Клиентское облуживание',
				count: '4',
				slide: '2',
			},
			{
				name: 'Фин. отдел',
				count: '6',
				slide: '2',
			},
			{
				name: 'Кухня',
				count: '3',
				slide: '3',
			},

		],



		contacts: [
			
			{
				name: 'Владислав Смолин',
				position: 'Телефон доверия',
				image: '1',
			},
			{
				name: 'Jacob Jones',
				position: 'Телефон доверия',
				image: '2',
			},
			{
				name: 'Albert Flores',
				position: 'Телефон доверия',
				image: '3',
			},
			{
				name: 'Courtney Henry',
				position: 'HR',
				image: '4',
			},
			{
				name: 'Cameron Williamson',
				position: 'Отдел по взысканию дебиторской задолженности',
				image: '5',
			},
			{
				name: 'Jenny Wilson',
				position: 'Отдел по расширению торговых точек',
				image: '3',
			},
			{
				name: 'Arlene McCoy',
				position: 'Телефон доверия',
				image: '5',
			},
			{
				name: 'Darlene Robertson',
				position: 'Телефон доверия',
				image: '1',
			},
			{
				name: 'Leslie Alexander',
				position: 'Телефон доверия',
				image: '3',
			},
			{
				name: 'Bessie Cooper',
				position: 'Телефон доверия',
				image: '2',
			},

		],




		leaders: [ 
			
			{
				name: 'Владислав Смолин',
				position: 'Телефон доверия',
				slide: '0'
			},
			{
				name: 'Владислав Смолин',
				position: 'Телефон доверия',
				slide: '2'
			},
			{
				name: 'Владислав Смолин',
				position: 'Телефон доверия',
				slide: '1'
			},
			{
				name: 'Владислав Смолин',
				position: 'Телефон доверия',
				slide: '2'
			},
			{
				name: 'Владислав Смолин',
				position: 'Телефон доверия',
				slide: '0'
			},
			{
				name: 'Владислав Смолин',
				position: 'Телефон доверия',
				slide: '2'
			},

			{
				name: 'Владислав Смолин',
				position: 'Телефон доверия',
				slide: '1'
			},
			{
				name: 'Владислав Смолин',
				position: 'Телефон доверия',
				slide: '2'
			},

		],





		command: [
			[
				{
					name: 'Darlene Robertson',
					position: 'Project Manager',
				},
			],
			[
				{
					name: 'Jacob Jones',
					position: 'Телефон доверия',
				},
				{
					name: 'Albert Flores',
					position: 'Телефон доверия',
				},
				{
					name: 'Courtney Henry',
					position: 'HR',
				},
				{
					name: 'Cameron Williamson',
					position: 'Отдел по взысканию дебиторской задолженности',
				},

			]

		],


		links: [
			[
				{
					name: 'tianya.cn',
					path: 'https://swiperjs.com/demos'
				},
				{
					name: 'worldometers.info',
					path: 'http://christopher.com'
				},
				{
					name: 'okezone.com',
					path: 'https://clifton.info'
				},
				{
					name: 'zoom.us',
					path: 'http://roslyn.info'
				},
				{
					name: 'panda.tv',
					path: 'http://christopher.com'
				},
			],
			[
				{
					name: 'panda.tv',
					path: 'http://christopher.com'
				},
				{
					name: 'tianya.cn',
					path: 'https://swiperjs.com/demos'
				},
				{
					name: 'okezone.com',
					path: 'https://clifton.info'
				},
				{
					name: 'zoom.us',
					path: 'http://roslyn.info'
				},
				{
					name: 'worldometers.info',
					path: 'http://christopher.com'
				},



			],
		],

		tabsAnswer: [
			{
				tab: 'Популярные',
				current: true
			},
			{
				tab: 'Кассирам',
				current: false
			},
			{
				tab: 'Маркетингу',
				current: false
			},
			{
				tab: 'Продавецам консультантам',
				current: false
			},
			{
				tab: 'Менеджерам',
				current: false
			},
			{
				tab: 'Водителям',
				current: false
			},
			{
				tab: '1С программистам',
				current: false
			},
			{
				tab: 'Маркетингу',
				current: false
			},
			{
				tab: 'Кассирам',
				current: false
			},
			{
				tab: 'Менеджерам',
				current: false
			},
		] 




	}; 

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};



