
.page-wrapper.inner-page
		h1.font-size-24.inner-page__title.mb-32 Вопросы ответы

		a(href="#").back-lnk 
			+svg('back')
		.info-box.box-default.padding-24.content
			h2
				| Information You Provide

			ul
				li The types of information that Wiley collects directly from you or through your use of our websites and services may include the following depending on how you interact with Wiley:
				li Contact details, such as your name, email address, postal address, username, and telephone number;
				li Internet Protocol (“IP”) addresses used to connect your computer to the Internet;
				li Educational and professional interests;
				li Tracking codes such as cookies;
			p
				| In order to access certain content and to make use of additional functionality and features of Wiley’s websites and services, we may ask you to register for an account by completing and submitting a registration form, which may request additional information.

		.interes-accordion.mb-64
			h2.font-size-24.mb-40.interes-accordion__title Похожие вопросы
			include ../../pug/components/accordion

